$header-color: #F6F4F2;
$white-color:#fff;
$black-color:#000;
$footer-color:#f2f2f2;
$orange-color: #ff2b09;
$text-color: #232323;
$gray-color: #626262;

$font-garamond: 'EB Garamond', serif;
$font-syne: 'Syne', sans-serif;