header {
  padding: 20px 0;
  // position: fixed;

  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: rgba($color: $header-color, $alpha: 0.8);
  .header {
    @include flex(space-between);
    nav {
      ul {
        @include flex();
        gap: 20px;
      }
    }
  }
}
