$font-quicksand: 'Josefin Sans', sans-serif;
$font-crimson:'Crimson Text', serif;
$white-color: #fff;
$black-color:#000;
$header-color: #226B57;
$footer-color: #e0ecdc;
$nav-color: #d8e3d5;
$li-color: #E6B17F;
$dark-green:#0c5b47;
$btn-color:#bdcfb8;
